<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Movie App Home</title>
</head>

<body>

    <% include partials/search %>

    <div>
        <h1 class="heading left-align">The Movie Node</h1>
    </div>

    <div class="container" id="movieContainer">
        <% movies.forEach((movie, i) => { %> 

            <div class="row" id="movieCard">
                <img src="<%=movie.image%>" alt="" class="responsive-img col s6" width="350" height="550"/> 
                <div class= "col s6">
                    <h5 class='movieTitle'><%=movie.title%></h5>
                    <p class='bodyText captions'>Released: <span> <%=movie.released%></span></p>
                    <p class='bodyText captions'>Genre: <span><%=movie.genre%></span></p>
                    <a href="http://localhost:8080/movieinfo/<%=movie.id%>" class="waves-effect waves-light btn red darken-1 "> Read More</a>
                </div>
                    
            </div>
            <hr>
    <%  }) %>




<!--Required Materialize script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


</body>

</html>