<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:300,400,700" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/css/styles.css">
      <title>Information</title>
  </head>
  
  <body>

  <% include partials/search %>
  <div class="right-align" id="hometop">
   <a href="http://localhost:8080/" class="homeLink">Home</a>
   </div>

    <div class="center-align" id="prevNextTop" >
    <% include partials/pagination %>
    </div>
 

  <div class="container">
       <h3> <%= movies[movieid].title %> </h3>
        <h5 class="titleInd"> <%= movies[movieid].plot%> </h5> 
    <div class="row"> 
      <div class="col s6">  
        <p><b>Year:</b><span> <%= movies[movieid].year %> </span> </p>
        <p><b>Rating:</b> <span> <%= movies[movieid].rated %> </span></p>
        <p><b>Genre:</b> <span> <%= movies[movieid].genre%> </span></p>
        <p><b>Movie Runtime:</b> <span> <%= movies[movieid].runtime %> </span></p>
      </div>
        
      <div class="col s6">  
          <p><b>Release Date: </b><span> <%= movies[movieid].released %> </span></p>
          <p><b>Director:</b> <span> <%= movies[movieid].director %> </span></p>
          <p><b>Actors:</b> <span> <%= movies[movieid].actors%> </span></p>
       </div>
       
       <div>    
        <img src="<%= movies[movieid].image %>" alt="" class="responsive-img"/>
      </div>
      
    </div>  
  </div>

   <div class="right-align" id="homebtm">
   <a href="http://localhost:8080/" class="homeLink">Home</a>
   </div>

  <div class="center-align" id="prevNextBtm">
    <% include partials/pagination %>
  </div>  


<!--Required Materialize script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    </body>
</html>